*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}
html {
	height: 100%;
	overflow: hidden
}
body {
	height: 100%;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	margin: 0;
	text-size-adjust: 100%;
	overflow-x: hidden
}
textarea {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}
button {
	outline: none
}
a {
	text-decoration: none;
	color: #0052CC
}
a:hover {
	text-decoration: none;
	color: #0065FF
}
img {
	border: none;
	width: 100%
}
#apps-debug-tracers {
	display: none
}
html {
	overflow: visible
}
body {
	overflow-y: auto
}
body {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.54
}
html,
li,
p {
	font-style: normal;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility!important;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important
}
h1 {
	color: #212121;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.29;
	margin: 1.236em 0 .618em
}
div[role=article]>h1:first-child {
	margin-top: 0
}
h2 {
	color: #212121;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.29;
	margin: 1.236em 0 .618em
}
h3 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
	margin: 1.236em 0 .618em
}
h4 {
	font-size: 14px;
	font-weight: 500;
	margin: 1.236em 0 .618em
}
p {
	letter-spacing: .2px;
	line-height: 24px;
	padding-top: 20px;
	margin: 10px 0
}
pre,
table {
	margin: 10px 0
}
h1+p,
h2+p,
h3+p,
h4+p,
h5+p,
h6+p {
	margin-top: 0
}
strong {
	color: #212121;
	font-weight: 500
}
em,
i {
	font-style: normal;
	font-weight: 500
}
a,
a:visited {
	color: #0052CC
}
ul,
ol {
	margin: 10px 10px 10px 30px;
	padding: 0
}
ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0;
	margin-top: 0
}
ol>li>ol {
	list-style: lower-alpha
}
pre,
code {
	color: #060;
	font: 13px/1.54"courier new", courier, monospace
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em
}
tr {
	background-color: #fafafa
}
tr:nth-of-type(even) {
	background-color: #fff
}
th {
	background-color: #f5f5f5;
	text-align: left;
	border: 1px solid #eee;
	padding: 4px 12px;
	vertical-align: top
}
td {
	border: 1px solid #eee;
	padding: 4px 12px;
	vertical-align: top
}
ins {
	background: #9f9;
	text-decoration: none
}
del {
	background: #faa
}
.bli_ah {
	display: block;
	width: 50%;
	height: 250px;
	background: #fff;
	margin-top: 10px
}
.bli_ah:hover {
	background: #f0f7fd
}
.mtchi {
	text-align: center
}
.bim_1 {
	margin-right: 5%;
	border: 3px solid #0f0
}
.bim_2 {
	margin-left: 5%;
	border: 3px solid #0052CC
}
.bit_m {
	margin: auto
}
.bit_m_p {
	margin: auto;
	padding-top: 10px
}
.goog-te-combo {
	background: transparent;
	outline: 0;
	cursor: pointer;
	border: 1px solid #777;
	padding: 6px;
	font-size: 13px!important;
	margin: 0!important
}
.bli_ss {
	width: 100%;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}
.MCcOAc {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	z-index: 1
}
.MCcOAc>.pGxpHc {
	flex-shrink: 0;
	box-flex: 0;
	flex-grow: 0
}
.IqBfM>.HLlAHb {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 60px;
	position: absolute;
	right: 16px;
	top: 0;
	z-index: 9999
}
.VUoKZ {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	z-index: 1001
}
.TRHLAc {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background: #68e;
	transform-origin: 0 0
}
.mIM26c .VUoKZ {
	display: block
}
.mIM26c .TRHLAc {
	animation: boqChromeapiPageProgressAnimation 1s infinite;
	animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
	animation-delay: .1s
}
.ghyPEc .VUoKZ {
	position: fixed
}
@keyframes boqChromeapiPageProgressAnimation {
	0% {
		transform: scaleX(0)
	}
	50% {
		transform: scaleX(5)
	}
	to {
		transform: scaleX(5) translateX(100%)
	}
}
.ydMMEb {
	width: 100%
}
.SSPGKf {
	display: block;
	overflow-y: hidden;
	z-index: 1
}
.eejsDc {
	overflow-y: auto
}
.WtFRbb {
	color: #253858;
	display: inline-block;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: .8px;
	text-transform: uppercase
}
.zOkeqd {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0;
	line-height: 32px;
	padding-top: 24px
}
.lxhxJd {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	margin: 0;
	padding: 38px 0 0
}
.WtFRbb+.lxhxJd {
	padding-top: 24px
}
.aa0tT {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	margin: 0;
	padding: 52px 0 0
}
.k0l3b0 {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin: 0;
	padding: 24px 0 0
}
.cTVGrf {
	padding: 0
}
.xF2iMb {
	margin: 0 0 0 16px
}
.h85Aef {
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: .2px;
	line-height: 24px;
	padding-left: 16px;
	padding-top: 20px
}
.W7NBvd,
.W7NBvd:hover,
.W7NBvd:visited {
	color: #1967d2;
	font-family: Roboto, arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px
}
.Los8Pd {
	border: 0;
	border-bottom: 1px solid rgba(151, 151, 151, 0.5);
	margin: 24px 0
}
.jEEHrf,
.jEEHrf:visited {
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1.5px solid #7daeff
}
.jEEHrf:hover {
	background-color: rgba(125, 174, 255, 0.3);
	border-radius: 2px
}
.jEEHrf:active {
	background-color: rgba(125, 174, 255, 0.7);
	border-radius: 2px
}
.OBbOp {
	display: block;
	position: relative;
	visibility: hidden
}
@media (min-width: 1256px) {
	.V4Yzye .OBbOp {
		top: -134px
	}
}
@media (min-width: 648px) and (max-width: 1255px) {
	.qvoRwc .V4Yzye .OBbOp {
		top: -94px
	}
}
@media (max-width: 647px) {
	.qvoRwc .V4Yzye .OBbOp {
		top: -58px
	}
}
c-wiz {
	contain: layout style
}
c-wiz>c-data {
	display: none
}
c-wiz.rETSD {
	contain: none
}
.T4LgNb {
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1
}
.QMEh5b {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3
}
.AOq4tb {
	height: 56px
}
.kFwPee {
	z-index: 1;
	height: 100%
}
.ydMMEb {
	height: 56px;
	width: 100%
}
.SSPGKf {
	overflow-y: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0
}
.ecJEib .AOq4tb,
.ecJEib .ydMMEb {
	height: 64px
}
.e2G3Fb.EWZcud .AOq4tb,
.e2G3Fb.EWZcud .ydMMEb {
	height: 48px
}
.nWPLyb {
	left: 0;
	top: 0;
	height: auto;
	position: absolute;
	z-index: 9;
	height: 100%;
	display: none
}
.e2G3Fb.b30Rkd .AOq4tb,
.e2G3Fb.b30Rkd .ydMMEb {
	height: 56px
}
.tk9x4e {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}
@media (min-width: 1256px) {
	.n2nH3e {
		bottom: 0;
		overflow-y: auto;
		position: fixed;
		top: 98px;
		width: 304px;
		border-right: 1px solid #e3eef9;
	}
}
.vwhFIf {
	box-flex: 74.3;
	flex-grow: 74.3;
	flex-basis: 0
}
.vwhFIf.hBMPQb {
	max-width: 978px;
	margin: 0 auto;
	padding: 0 16px
}
@media (min-width: 1256px) {
	.vwhFIf {
		min-height: 600px
	}
	.vwhFIf.hBMPQb {
		padding: 32px
	}
}
.QHju3e {
	box-flex: 0;
	flex-grow: 0;
	min-width: 304px
}
.fPNJre {
	height: 98px
}
@media (max-width: 1255px) {
	.fPNJre {
		height: 18px
	}
	.Fq8qrb {
		padding: 10px 0
	}
	.tk9x4e {
		display: block
	}
	.QHju3e {
		display: none
	}
	.qvoRwc .fPNJre {
		height: 56px
	}
	.QM054c .fPNJre {
		height: 0
	}
	.qvoRwc .n2nH3e {
		display: none
	}
	.QM054c .n2nH3e {
		border-bottom: 1px solid rgba(151, 151, 151, 0.5)
	}
}
@media print {
	.fPNJre {
		display: none
	}
}
.SSPGKf {
	position: relative;
	min-height: 100%
}
.SSPGKf.BIIBbc {
	height: 100%;
	overflow: hidden
}
.kFwPee {
	backface-visibility: hidden;
	min-height: 100%;
	height: auto
}
.T4LgNb {
	min-height: 100%;
	position: relative
}
.T4LgNb.eejsDc {
	min-height: 100%;
	overflow-y: hidden
}
.QMEh5b {
	position: fixed
}
.kkY60 {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	will-change: transform;
	z-index: 5000
}
.kkY60[aria-hidden=true] {
	visibility: hidden
}
@media (min-width: 1256px) {
	.kkY60 {
		display: none
	}
}
.QM054c .kkY60 {
	display: none
}
.hgRBHd {
	transition: background-color 300ms;
	background-color: rgba(0, 0, 0, 0);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw
}
.QTk2yd {
	right: 0
}
.kkY60.sMVRZe .hgRBHd {
	background-color: rgba(0, 0, 0, 0.54)
}
.Woo1Bb {
	transition: transform 300ms ease-out;
	background-color: #fff;
	height: 100%;
	overflow: auto;
	width: auto
}
.nWPLyb .Woo1Bb {
	transform: translate3d(-104%, 0, 0)
}
.QTk2yd .Woo1Bb {
	transform: translate3d(104%, 0, 0)
}
.kkY60.nWPLyb.sMVRZe .Woo1Bb {
	transform: translate3d(0, 0, 0)
}
.kkY60.QTk2yd .Woo1Bb {
	transform: translate3d(100vw, 0, 0)
}
.kkY60.QTk2yd.sMVRZe .Woo1Bb {
	transform: translate3d(100vw, 0, 0) translateX(-100%)
}
@media screen and (max-width: 360px) {
	.kkY60.sMVRZe .Woo1Bb {
		right: 56px
	}
}
@media screen and (min-width: 361px) {
	.kkY60 .Woo1Bb {
		width: 304px
	}
}
@media print {
	.SGBcfd {
		display: none
	}
}
.Uh4Mac {
	background: #f0f7fd;
	font-size: 11px;
	line-height: 2.19;
	position: absolute;
	list-style: none;
	padding: 10px 15px;
	width: 100%;
	bottom: 0;
}
.JzIyE {
	margin: auto;
	max-width: 978px
}
.Fq8qrb {
	padding: 10px 0 10px 0
}
.QM054c .Fq8qrb {
	display: none
}
@media (min-width: 761px) {
	.Fq8qrb {
		float: right;
		padding: 0 0 0 24px
	}
}
.gZggid {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px
}
.iCthae {
	line-height: 3.08;
	margin: -10px 0
}
.mlNJof {
	margin: 0
}
.ad72vb {
	display: inline-block;
	font-weight: 300
}
.ad72vb:after {
	content: "";
	padding: 0 8px
}
.JzIyE .KZ3Wad,
.JzIyE .KZ3Wad:hover {
	color: #333;
	font-weight: 400;
	font-size: 13px
}
.XddVQ:after {
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iIzQyODVGNCI+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+CiAgICA8cGF0aCBkPSJNMTkgMTlINVY1aDdWM0g1Yy0xLjExIDAtMiAuOS0yIDJ2MTRjMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJ2LTdoLTJ2N3pNMTQgM3YyaDMuNTlsLTkuODMgOS44MyAxLjQxIDEuNDFMMTkgNi40MVYxMGgyVjNoLTd6Ii8+Cjwvc3ZnPgo=) center/12px no-repeat;
	content: '';
	display: inline-block;
	height: 12px;
	margin: 0 2px;
	vertical-align: middle;
	width: 12px
}
[dir=rtl] .XddVQ:after {
	transform: scaleX(-1)
}
.FKF6mc,
.FKF6mc:focus {
	display: block;
	outline: none;
	text-decoration: none
}
.FKF6mc:visited {
	fill: inherit;
	stroke: inherit
}
@keyframes quantumWizBoxInkSpread {
	0% {
		transform: translate(-50%, -50%) scale(.2)
	}
	to {
		transform: translate(-50%, -50%) scale(2.2)
	}
}
@keyframes quantumWizIconFocusPulse {
	0% {
		transform: translate(-50%, -50%) scale(1.5);
		opacity: 0
	}
	to {
		transform: translate(-50%, -50%) scale(2);
		opacity: 1
	}
}
@keyframes quantumWizRadialInkSpread {
	0% {
		transform: scale(1.5);
		opacity: 0
	}
	to {
		transform: scale(2.5);
		opacity: 1
	}
}
@keyframes quantumWizRadialInkFocusPulse {
	0% {
		transform: scale(2);
		opacity: 0
	}
	to {
		transform: scale(2.5);
		opacity: 1
	}
}
#open_menu {
	cursor: pointer
}
.mUbCce {
	transition: background .3s;
	border: 0;
	border-radius: 50%;
	display: inline-block;
	flex-shrink: 0;
	height: 48px;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 48px;
	z-index: 0
}
.mUbCce>.TpQm9d {
	height: 48px;
	width: 48px
}
.YYBxpf {
	border-radius: 0;
	overflow: visible
}
.fKz7Od {
	color: #000;
	fill: #000
}
.p9Nwte {
	color: rgba(255, 255, 255, 0.749);
	fill: rgba(255, 255, 255, 0.749)
}
.fKz7Od.u3bW4e {
	background-color: rgba(0, 0, 0, 0.12)
}
.p9Nwte.u3bW4e {
	background-color: rgba(204, 204, 204, 0.251)
}
.YYBxpf.u3bW4e {
	background-color: transparent
}
.VTBa7b {
	transform: translate(-50%, -50%) scale(0);
	transition: opacity .2s ease, visibility 0 ease .2s, transform 0 ease .2s;
	transition: opacity .2s ease, visibility 0 ease .2s, -webkit-transform 0 ease .2s;
	background-size: cover;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden
}
.YYBxpf.u3bW4e .VTBa7b {
	animation: quantumWizIconFocusPulse .7s infinite alternate;
	height: 100%;
	left: 50%;
	top: 50%;
	width: 100%;
	visibility: visible
}
.mUbCce.qs41qe .VTBa7b {
	transform: translate(-50%, -50%) scale(2.2);
	opacity: 1;
	visibility: visible
}
.mUbCce.qs41qe.M9Bg4d .VTBa7b {
	transition: -webkit-transform .3s cubic-bezier(0.0, 0.0, 0.2, 1), opacity .2s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: transform .3s cubic-bezier(0.0, 0.0, 0.2, 1), opacity .2s cubic-bezier(0.0, 0.0, 0.2, 1)
}
.mUbCce.j7nIZb .VTBa7b {
	transform: translate(-50%, -50%) scale(2.2);
	visibility: visible
}
.fKz7Od .VTBa7b {
	background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12) 80%, rgba(0, 0, 0, 0) 100%)
}
.p9Nwte .VTBa7b {
	background-image: radial-gradient(circle farthest-side, rgba(204, 204, 204, 0.251), rgba(204, 204, 204, 0.251) 80%, rgba(204, 204, 204, 0) 100%)
}
.mUbCce.RDPZE {
	color: rgba(0, 0, 0, 0.26);
	fill: rgba(0, 0, 0, 0.26);
	cursor: default
}
.p9Nwte.RDPZE {
	color: rgba(255, 255, 255, 0.502);
	fill: rgba(255, 255, 255, 0.502)
}
.xjKiLb {
	position: relative;
	top: 50%
}
.xjKiLb>span {
	display: inline-block;
	position: relative
}
.nma0Wb {
	background: #fff;
	border-bottom: 1px solid #e3eef9;
	box-sizing: border-box;
	padding: 24px 24px 0;
	top: 0;
	width: 100%;
	z-index: 2000
}
@media print {
	.nma0Wb {
		display: none
	}
}
@media (min-width: 1256px) {
	.nma0Wb {
		position: fixed
	}
}
@media (max-width: 1255px) {
	.nma0Wb {
		padding: 6px
	}
	.qvoRwc .nma0Wb {
		position: fixed
	}
}
@media (max-width: 1255px) {
	.KsrMtd {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex
	}
}
.FwCYR {
	outline-style: none
}
.azCOyf {
	display: inline-block;
	margin: 0;
	padding: 0
}
@media (max-width: 1255px) {
	.azCOyf {
		margin: 6px 0 0 2px
	}
	.gyDJxf {
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		margin: -1px 0 0;
		vertical-align: top
	}
}
.MntwIc {
	height: 34px;
	width: auto
}
@media (min-width: 1256px) {
	.gyDJxf {
		display: inline-block;
		font-size: 20px;
		font-weight: 400;
		line-height: 22px;
		margin: -1px 0 0;
		vertical-align: top
	}
}
.gyDJxf .jg30ib {
	color: #253858;
	font-family: 'Alpaca Scarlett';
	font-weight: 400
}
.Raglmc {
	display: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 1em;
	overflow: hidden
}
@media (max-width: 1255px) {
	.gyDJxf {
		margin: 11px 0 0 3px;
	}
	.qvoRwc .Raglmc {
		color: #5f6368;
		display: block;
		font-family: Roboto, arial, sans-serif;
		font-size: 20px;
		font-weight: 400;
		margin: 0;
		padding: 13px 8px 8px 5px;
		text-overflow: ellipsis;
		white-space: nowrap
	}
}
.i5eHhc {
	height: 44px;
	width: 44px
}
.QM054c .i5eHhc {
	display: none
}
@media (min-width: 1256px) {
	.nma0Wb .i5eHhc {
		display: none
	}
}
.Z4Hs8c {
	list-style: none
}
@media (min-width: 1256px) {
	.Z4Hs8c {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0;
		padding: 15px 15px 0 0
	}
}
@media (max-width: 1255px) {
	.Z4Hs8c {
		padding: 0;
		margin: 0
	}
	.qvoRwc .Z4Hs8c {
		display: none
	}
	.qvoRwc .hbf8u .Z4Hs8c {
		display: block;
		margin: 0
	}
}
.tTz8Oe {
	font-family: Roboto, arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.43;
	margin: 0 42px 0 0
}
.hbf8u .tTz8Oe {
	font-size: 14px;
	-webkit-box-shadow: 40px 1px 0 0 #d9d9d9;
	box-shadow: 40px 1px 0 0 #d9d9d9
}
@media (max-width: 1255px) {
	.hbf8u {
		max-width: 80%
	}
	.tTz8Oe,
	.DYKzwf,
	.ofpkEd {
		border: 0;
		display: inline-block;
		margin: 0 20px 0 0;
		padding: 6px 0
	}
	.hbf8u .tTz8Oe,
	.hbf8u .DYKzwf,
	.hbf8u .ofpkEd {
		display: block;
		margin: 0;
		padding: 0
	}
	.hbf8u .tTz8Oe {
		margin: 0 0 0 5px
	}
}
.tTz8Oe .A8xHzb,
.DYKzwf .A8xHzb,
.ofpkEd .A8xHzb {
	color: #848484;
	display: inline-block;
	font-weight: 400
}
.tTz8Oe .A8xHzb:hover,
.DYKzwf .A8xHzb:hover,
.ofpkEd .A8xHzb:hover {
	color: #000
}
.hbf8u .TuAukb {
	margin: 0
}
.hbf8u .tGF2Sc {
	margin: 0 0 0 16px
}
.hbf8u .kCzQV {
	border-bottom: 1px solid #d9d9d9;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 5px 30px 4px 15px
}
.hbf8u .tTz8Oe .A8xHzb,
.hbf8u .DYKzwf .A8xHzb,
.hbf8u .ofpkEd .A8xHzb {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	padding: 12px 12px 12px 40px
}
@media (min-width: 1256px) {
	.tTz8Oe .A8xHzb {
		padding: 0 0 6px
	}
}
.hbf8u .tTz8Oe .mfL4I,
.hbf8u .DYKzwf .mfL4I,
.hbf8u .ofpkEd .mfL4I {
	color: #0052CC
}
.nma0Wb .tTz8Oe .mfL4I,
.nma0Wb .DYKzwf .mfL4I,
.nma0Wb .ofpkEd .mfL4I {
	color: #0052CC;
	padding-bottom: 3px
}
.hbf8u .USpFuf .mfL4I {
	background: #f1f1f1
}
@media (min-width: 1256px) {
	.tTz8Oe .mfL4I {
		border-bottom: 3px solid #0052CC
	}
}
@media (min-width: 1256px) {
	.lFQR2e {
		box-flex: 1;
		flex-grow: 1;
		margin-right: 0;
		text-align: right
	}
}
.pjcfYe {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}
@media (max-width: 647px) {
	.pjcfYe {
		display: block
	}
}
.AD0Dze {
	box-flex: 1;
	flex-grow: 1;
	flex-basis: 0;
	margin-bottom: 20px
}
@media (min-width: 648px) {
	.AD0Dze:first-child {
		margin-right: 60px
	}
}
@media (max-width: 647px) {
	.Z6jTqd {
		padding-top: 24px
	}
}
.xTmC1e {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin: 0;
	padding: 0
}
.r0hqg {
	margin: 0
}
.p60SJ {
	padding: 20px 0 20px 80px;
	position: relative
}
.m49pib {
	left: 10px;
	position: absolute;
	top: 25px;
	width: 50px
}
.nrAB0c {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	justify-content: center;
	padding: 62px 48px 124px 48px;
}
.nrAB0c.hlFAGe {
	border-bottom: none
}
@media (max-width: 647px) {
	.nrAB0c {
		padding: 24px;
		    padding-bottom: 160px;
	}
}
@media (min-width: 648px) {
	.nrAB0c {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex
	}
}
.nrAB0c.KMMDve {
	border-bottom: 0;
	padding-bottom: 0
}
.nrAB0c.aYyAOe {
	padding-top: 0
}
@media (max-width: 1255px) {
	.uq4lRd {
		display: none
	}
}
@media (min-width: 648px) {
	.hR5Jef {
		width: 600px
	}
	.uq4lRd {
		box-flex: 0;
		flex-grow: 0;
		margin-left: 48px;
		width: 256px
	}
}
@media (min-width: 1500px) {
	.hR5Jef {
		width: 800px
	}
}
@media print {
	.VF3nCf {
		display: none
	}
}
.HIBsLc {
	font-family: Roboto, arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	margin: 12px 0;
	padding: 0
}
.BycOVd {
	padding: 0
}
.BycOVd.TNpQ1d,
.BycOVd.HrNKEc .JPKgef,
.RGZXee.TNpQ1d {
	color: #0052CC
}
.BycOVd.dgRVoc {
	border-bottom: 1px solid rgba(151, 151, 151, 0.5);
	margin-bottom: 12px;
	padding-bottom: 12px
}
.BycOVd.dgRVoc:not(:first-child) {
	border-top: 1px solid rgba(151, 151, 151, 0.5);
	margin-top: 12px;
	padding-top: 12px
}
.BycOVd.HrNKEc .JPKgef:hover {
	color: #0052CC
}
.BycOVd .JPKgef {
	display: block
}
.BycOVd .JPKgef:hover {
	color: #242425
}
.jX0o0 {
	list-style: none;
	margin: 0;
	padding: 0
}
.RGZXee .bCzwPe,
.BycOVd .JPKgef {
	color: #5f6368;
	font-weight: 400
}
.bCzwPe {
	display: block;
	padding: 13px 24px
}
.BycOVd .JPKgef {
	padding: 12px 24px
}
.BycOVd .DfQvZd {
	padding: 12px 24px;
	display: block
}
.BycOVd.CiLyvf .DfQvZd {
	display: none
}
.Rnn63c {
	word-break: break-all
}
.O3bgpc {
	height: 0;
	overflow: hidden;
	padding-bottom: 56%;
	position: relative;
	width: 100%
}
@media print {
	.O3bgpc {
		display: none
	}
}
.Ylcf5b {
	border: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}
.M3GAob {
	margin-bottom: 24px
}
@media (min-width: 648px) {
	.M3GAob {
		border: 1px solid rgba(151, 151, 151, 0.2)
	}
}
.XHsn7e {
	background-color: #000;
	border: none;
	border-radius: 50%;
	box-sizing: content-box;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: inline-block;
	fill: #fff;
	height: 56px;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 56px;
	z-index: 4000
}
.HaXdpb {
	background: rgba(255, 255, 255, 0.2);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}
.XHsn7e:hover {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2)
}
.XHsn7e:hover .HaXdpb {
	display: block
}
.XHsn7e.qs41qe {
	box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2)
}
.XHsn7e.qs41qe .HaXdpb {
	display: block
}
.XHsn7e.RDPZE {
	background: rgba(153, 153, 153, 0.102);
	box-shadow: none;
	color: rgba(68, 68, 68, 0.502);
	cursor: default;
	fill: rgba(68, 68, 68, 0.502)
}
.XHsn7e.RDPZE:hover {
	opacity: 1
}
.XHsn7e.RDPZE .HaXdpb {
	display: none
}
.XHsn7e:focus {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2)
}
.XHsn7e:focus .HaXdpb {
	display: block
}
.l_tm {
	display: inline-block;
	margin-top: -6px
}
.Ip8zfc {
	display: inline-block;
	height: 24px;
	position: absolute;
	top: 16px;
	left: 16px;
	width: 24px;
	transform: rotate(0);
	transition: all .2s ease-in-out
}
.Ip8zfc.eLNT1d {
	opacity: 0;
	visibility: hidden;
	transform: rotate(225deg);
	transition: all .2s ease-in-out
}
.Ip8zfc.ReqAjb {
	transform: rotate(135deg);
	transition: all .2s ease-in-out
}
.dURtfb {
	height: 40px;
	width: 40px
}
.dURtfb .Ip8zfc {
	top: 8px;
	left: 8px
}
.HRp7vf {
	transform: translate(-50%, -50%) scale(0);
	transition: opacity .2s ease, visibility 0 ease .2s, transform 0 ease .2s;
	transition: opacity .2s ease, visibility 0 ease .2s, -webkit-transform 0 ease .2s;
	background-image: radial-gradient(circle farthest-side, rgba(204, 204, 204, 0.251), rgba(204, 204, 204, 0.251) 80%, rgba(204, 204, 204, 0) 100%);
	background-size: cover;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden
}
.XHsn7e.qs41qe>.HRp7vf {
	transform: translate(-50%, -50%) scale(2.2);
	opacity: 1;
	visibility: visible
}
.XHsn7e.qs41qe.M9Bg4d>.HRp7vf {
	transition: -webkit-transform .3s cubic-bezier(0.0, 0.0, 0.2, 1), opacity .2s cubic-bezier(0.0, 0.0, 0.2, 1);
	transition: transform .3s cubic-bezier(0.0, 0.0, 0.2, 1), opacity .2s cubic-bezier(0.0, 0.0, 0.2, 1)
}
.XHsn7e.j7nIZb>.HRp7vf {
	transform: translate(-50%, -50%) scale(2.2);
	visibility: visible
}
.kLm7Ab {
	background: #f6f9ff;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-family: Roboto, arial, sans-serif;
	font-size: 14px;
	margin: 20px 0 0;
	max-width: max-content;
	padding: 20px
}
.KO8Ylf .Jmk6zc {
	padding-top: 24px
}
@media screen and (max-width: 1255px) {
	.l_tm {
		margin-top: 5px;
		margin-left: 10px;
		height: 30px
	}
	.f5Dvbb {
		display: none
	}
	.EbT0Hd .f5Dvbb {
		display: inline-block
	}
}
.OEiHpe {
	color: rgba(0, 0, 0, 0.12)
}
@media (max-width: 647px) {
	.OEiHpe {
		display: block;
		visibility: hidden;
		height: 12px
	}
}
.M9ZWDd {
	padding: 0 0 16px
}
.HHTmSc {
	position: relative;
	border-bottom: 1px solid rgba(151, 151, 151, 0.5)
}
.HHTmSc:last-child {
	border-bottom: 0
}
.R28RU {
	left: -8px;
	top: 18px;
	position: absolute
}
.farYT,
.farYT:hover,
.farYT:visited {
	color: #253858;
	display: block;
	font-family: Roboto, arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 21px
}
@media print,
(min-width: 1256px) {
	.TL2alc {
		display: none
	}
}
.EbT0Hd .TL2alc {
	display: none
}
@media print {
	.rSz9e {
		display: none
	}
}
.nTylZ {
	margin: 38px 32px 0
}
.stxKeb {
	font-size: 14px;
	margin: 0 32px 32px
}
.h0yEnd {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	margin-top: 36px
}
.h0yEnd.WTetv {
	border-top: none
}
.h0yEnd+.h0yEnd {
	margin-top: -1px
}
.aa0tT+.h0yEnd {
	margin-top: 16px
}
.IN2z4b {
	box-flex: 0;
	flex-grow: 0;
	box-sizing: border-box;
	padding: 12px 16px;
	min-width: 80px
}
.mZPFM {
	display: block;
	height: 48px;
	width: 48px
}
.mZPFM.uTLSAb {
	margin-top: 14px
}
.gwGFXb {
	box-flex: 1;
	flex-grow: 1;
	padding: 14px 0
}
.SWFQ9e {
	color: #253858;
	font-family: Roboto, arial, sans-serif;
	font-weight: 600;
	font-size: 14px
}
.gwGFXb .ky8S2 {
	font-weight: 500
}
.block-logo-header {
	margin-left: -38px;
	margin-right: -33px;
}
@media screen {
	.qvoRwc .m9JGT {
		border-bottom: none
	}
	.qvoRwc .eMYc0 .S2BGZc {
		display: none
	}
}
@media (max-width: 1255px) {
	.oLVHqb {
		display: none
	}
}
@media (max-width: 647px) {
	.pTrV6d {
		margin: -25px -24px 0
	}
}
@media (min-width: 1256px) {
	.oLVHqb {
		height: 0;
		left: 24px;
		position: relative;
		width: 290px
	}
	.oLVHqb.qRvogc {
		display: none
	}
	.vsZOJd {
		background-color: #fff;
		border-left: 3px solid rgba(151, 151, 151, 0.5);
		font-size: 12px;
		padding: 2px 0
	}
	.RlmvDf {
		background-color: #fff;
		box-sizing: border-box;
		display: block;
		float: left;
		height: 36px;
		width: 36px;
		border: 1px solid rgba(151, 151, 151, 0.5);
		border-radius: 24px;
		margin: 132px 0 0 -16px;
		padding: 4px 0 0 4px
	}
	.zPfnJe {
		display: block
	}
	[dir=rtl] .zPfnJe {
		transform: scaleX(-1)
	}
}
.pjyxF {
	text-align: center;
	padding-top: 30px
}
.pjyxF.m2dIJf {
	padding-top: 0
}
.zZLvvc {
	display: inline-block;
	margin: 0;
	vertical-align: top
}
@media (max-width: 1255px) {
	.bli_ah {
		margin-bottom: 50px
	}
}
@media (max-width: 647px) {
	.bim_1 {
		margin-left: 0
	}
	.bim_2 {
		margin-left: 0;
		margin-bottom: 40px
	}
	.mtchi {
		padding: 44px 0 0;
		font-size: 24px;
	}
	.bli_ah {
		width: 100%;
		height: 150px
	}
	.zZLvvc {
		max-width: 360px;
		width: 100%
	}
}
@media (min-width: 648px) {
	.zZLvvc {
		width: 400px
	}
}
@media (min-width: 1500px) {
	.zZLvvc {
		width: 440px
	}
}
@media print {
	.pjyxF {
		display: none
	}
}
@media (min-width: 1256px) {
	.ay2rt,
	.ay2rt:hover,
	.ay2rt:visited {
		background-color: rgba(125, 174, 255, 0.3);
		border-bottom-color: rgba(0, 0, 0, 0)
	}
}
.Q6o28 {
	background-color: #fff;
	bottom: 24px;
	opacity: 0;
	position: fixed;
	right: 24px;
	transition: opacity 300ms;
	visibility: hidden
}
@media (max-width: 1255px) {
	.eMYc0 .Q6o28.BXXR1b {
		opacity: 1;
		visibility: visible
	}
}
@media (max-width: 1255px) {
	.n2nH3e {
		display: none
	}
	.Z4Hs8c {
		display: none
	}
}
.footer .main * {
	color: #333;
}
.footer-locales {
	background: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
	border: 1px solid #777;
	float: none;
	width: 200px;
	max-width: 200px;
	padding: 4px;
	font-size: 13px;
	margin-top: 0;
}
@media (min-width: 768px) {
	.footer-locales {
		float: right;
		width: 200px;
		padding: 4px;
		font-size: 13px;
		margin-top: 0;
	}
}
